<table class="table table-striped table-hover">
<thead>
<tr>
  <th>User Id</th>
  <th>Code</th>
  <th>Name</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let user of users" (click)="showUser(user)">
  <td>{{ user.userId }}</td>
  <td>{{ user.userCode }}</td>
  <td>{{ user.userName }}</td>
  <td><button class="edit" (click) ="editUser(user)">Edit</button></td>
  <td><button class="delete" (click) ="deleteUser(user)">Delete</button></td>
</tr>
</tbody>
</table>

<button (click)="addUser()">Add user</button>
