.table-striped thead tr {
  background: #232;
  color: #FFF;

}
.table-striped tbody tr:nth-of-type(odd) {
   background: gainsboro;
   color: black;
 }

.table-striped tbody tr {
  cursor: pointer;
}
