<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <table class="table table-striped table-hover" title="{{title}}">
    <thead>
    <tr>
      <td><img height="50" style="text-align: left" src='{{imageUrl}}' (click)="onClickInfo($event)"/></td>
      <td width="500"><h2>{{title}}</h2></td>
      <td width="200"></td>
      <td><img height="50" style="text-align: right" src='{{imageUrl2}}' (mouseover)="onMouseOverInfo($event)"/></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <hr>
  <div class="menu">
    <app-menu></app-menu>
    <router-outlet></router-outlet>
  </div>
  </body>
</html>
