<table class="table table-striped table-hover">
  <thead>
   <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let document of documents" (click)="showDocument(user)">
    <td>{{ document.docId }}</td>
    <td>{{ document.docName }}</td>
    <td>{{ document.docVersionNr }}</td>
    <td><button class="showDetails" (click) ="editDocument(document)">Edit</button></td>
    <td><button class="delete" (click) ="deleteDocument(document)">Delete</button></td>
  </tr>
  </tbody>
</table>
<button (click)="addDocument()">Add document</button>

