<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
     <title>Tijdelijke welkomspagina</title>
     <br>
     <img height="100" style="text-align: right" src="./assets/Logo-Carthago.jpg"/><br><br>
     <p>Beste wensen voor 2018!!</p>
     <p>Hier zal een login schermpje moeten starten</p>
     <p>Op deze website kunt u uw cv's beheren. Hier zouden extra instructies komen over updaten van cv's, etc</p>
     <p>Jij bent al ingelogd. Ga nu naar documenten</p><br>

  </body>
</html>
